<div class='container'>
 <div class='row'>
  <form ng-submit="addItemClick()">
   <div class = 'col-md-6 col-xs-12'>
     <h1>Add Item </h1>
     <div class="form-group"> 
       <label for="Make">Make</label>
       <input ng-model="item.make" placeholder="Porsche" class="form-control" type="text" required>         
       <label for="password">Model</label>
       <input  ng-model="item.model"  placeholder="911" class="form-control" type="text" required>
       <label for="Year">Year</label>
       <input ng-model="item.year" placeholder="2014" type='number' class="form-control" required>
       <label for="Description">Description</label>
       <input ng-model="item.description"  placeholder=" Red GT3 Spoiler" class="form-control" required>
       <label for="Price">Price</label>
       <input ng-model="item.price"  placeholder="" class="form-control" required>
       <label for="Image">Image</label>
       <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)"/>
       <label >Category</label>
       <select class="form-control" id="sel1" ng-model="item.category">
         <option name="Body" value="Body">Choose a Category</option>
         <option name="Body" value="Body">Body</option>
         <option name="Lighting" value="Lighting">Lighting</option>
         <option name="Suspension" value="Suspension">Suspension</option>
         <option name="Tires" value="Tires">Tires</option>
         <option name="Wheels" value="Wheels">Wheels</option>
       </select>
      </div>
     </div>
     <div class ='col-md-6 col-xs-12'>
       <h3>Contact Info</h3>
       <div class="form-group">
         <label for="Make">Email</label>
         <input ng-model="item.email" type="text" placeholder="Email" class="form-control" required>
         <label for="Make">Phone Number</label>
         <input ng-model="item.phone" type="text" placeholder="510-898-9232" class="form-control">
         <label for="Make">Zip Code</label>
         <input ng-model="item.zip" type="text" placeholder="92232" class="form-control" required>
       </div>
     </div>
    <button type="submit" class="btn btn-success pull-right">Add Item</button>
  </form>
 </div>

</div>

</div>
