<div class='container'>
 <form>
   <div class = 'col-xs-12'>
     <h1>Add Item </h1>
     <div class="form-group">
       <label for="Make">Make</label>
       <input ng-model="addFeatureMake" placeholder="Porsche" class="form-control" required>
     </div>
     <div class="form-group">
       <label for="password">Model</label>
       <input  ng-model="addFeatureModel"  placeholder="911" class="form-control" required>
     </div>
     <div class="form-group">
       <label for="Make">Year</label>
       <input ng-model="addFeatureYear" placeholder="2014" class="form-control">
     </div>
     <div class="form-group">
       <label for="Make">UserName</label>
       <input ng-model="addFeatureUsername"  placeholder=" Red GT3 Spoiler" class="form-control" required>
     </div>  
     <button type="submit" class="btn btn-default pull-right">Add Feature</button>
   </form>
 </div>
