<div class='container'>
  <h2>{{category}} Items </h2>
  <form>
    <div class="form-group">
      <label for="filter">Search:</label>
      <input ng-model="filterText" class="form-control", type="text", id="filter">
    </div>

    <div class="form-group">
      <label for="modelSearch">Filter By Model:</label>
      <input type="text" placeholder="Porsche" ng-model="filterModel" class="form-control", id="filter" >
    </div>
    
    <div class="form-group">
      <label for="makeSearch">Filter By Make</label>
      <input type="text" placeholder="911" class="form-control" ng-model="filterMake" class="form-control", id="filter">
    </div>
        
  </form>
</div>
<hr>
<div class="container table-responsive">
  <h2 class='text-center'>For Sale</h2>
  <table class="table ">
    <thead>
      <tr>
        <th>Description</th>
        <th>Model</th>
        <th>Make</th>
        <th>year</th>
        <th>Price</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items | filter: category | filter: filterText | filter: filterModel | filter: filterMake">
        <td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.description}}</td>
        <td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.model}}</td>
        <td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.make}}</td>
        <td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.year}}</td>
        <td ui-sref="forsaleitemdetail({itemId:item._id})">${{item.price}}</td>
        <td ui-sref="forsaleitemdetail({itemId:item._id})">${{item.zip}}</td>

      </tr>
    </tbody>
  </table>
</div>