<div class="container-fluid" id="test">
	<img src="../images/002.jpg" alt="">
</div>

<div class="">
  <div class="row text-center">
    <h2 class='text-center' id='#homeFeatures'>Browse By Category</h2>
    <div class="homespacer3"></div>
    <div class="col-xs-12 col-md-4 col-sm-4">
      <div class="card"  ui-sref='forsaleitem({type:"body"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://i.imgur.com/jmYBSLx.jpg" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Body</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card"  ui-sref='forsaleitem({type:"engine"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://images.hgmsites.net/lrg/2013-dodge-viper_100407980_l.jpg" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Engine</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card" ui-sref='forsaleitem({type:"lighting"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="https://cdn.shopify.com/s/files/1/0257/3399/products/image028_9d758d22-ff99-443f-ae49-29874b17a68f_1024x1024.png?v=1398631353" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Lighting</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card" ui-sref='forsaleitem({type:"interior"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://images.cdn.stuff.tv/sites/stuff.tv/files/Mercedes-AMG-GT-Interior-illuminated.jpg" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Interior</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card" ui-sref='forsaleitem({type:"drivetrain"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://www.revworksinc.com/assets/images/products/subaru/exedy/exedy_brz_twindisc.jpg" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Drivetrain</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card"  ui-sref='forsaleitem({type:"performance"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://www.autonotas.tv/wp-content/uploads/2015/05/SHW_0323-1024x603.jpg" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Performance</h5>
        </div>
      </div>
    </div>
  </div>
    <div class="row text-center">
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card" ui-sref='forsaleitem({type:"suspension"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://www.carid.com/images/kw-suspensions/page/03.jpg" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Suspension</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card" ui-sref='forsaleitem({type:"tires"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="https://www.tirestickers.com/wp-content/uploads/2015/01/Tire-Stickers-Michelin-Tires-600x355.jpg" class="img-rounded activator" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Tires</h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4" >
      <div class="card"  ui-sref='forsaleitem({type:"wheels"})'>
        <div class="card-header card-image waves-effect waves-block waves-light">
          <img src="http://www.gtrblog.com/wp-content/uploads/2008/12/series-II-R35-Brakes-GTRBLOG-002.jpg" alt="Cinque Terre" width="300" height="250">
        </div>
        <div class="card-content">
          <h5 class='text-center'>Wheels</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homespacer2"></div>
<section class='bg-gray'>
  <div class="">
    <div class="row car-features">
      <h2 class='text-center pointer'><a href="#/showroom">Car Showroom</a></h2>
      <h6 class='text-center'>SHOWCASING SOME OF THE FINEST CARS AROUND THE WORLD.</h6>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <ul class="media-list main-list">
          <li class="media">
            <a class="pull-left" href="#">
              <img ui-sref = 'showroom' class="media-object img-rounded" src="http://o.aolcdn.com/hss/storage/midas/4a793fd003ed637e43e8761eb2136342/202325231/lead2-2016-dodge-viper-acr-fd.jpg" height="150" width="210" alt="...">
            </a>
            <div class="media-body">
              <h5 class="media-heading">Dodge Viper ACR</h5>
              <p class='by-author'>
                Model: Dodge <br>
                Make: Viper ACR <br>
                UserName: laugh_drive
              </p>
          </div>
        </li>
        <li class="media" ng-click="goToShowroom()">
          <a class="pull-left" href="#">
            <img ui-sref = 'showroom' class="media-object img-rounded" src="http://hd.wallpaperswide.com/thumbs/nissan_gtr___stunning_black-t2.jpg" height="150" width="210" alt="...">
          </a>
          <div class="media-body">
            <h5 class="media-heading">Nissan GTR</h5>
            <p class='by-author'>
              Model: Nissan <br>
              Make: GTR <br>
              UserName: laugh_drive
            </p>
          </div>
        </li>
        <li class="media" ng-click="goToShowroom()">
          <a class="pull-left" href="#">
            <img ui-sref = 'showroom' class="media-object img-rounded" src="https://farm4.staticflickr.com/3627/3545539886_0dbc99c2d4_z.jpg?zz=1" height="150" width="210" alt="...">
          </a>
          <div class="media-body">
            <h5 class="media-heading">Mercedes G Class</h5>
            <p class='by-author'>
              Model: Mercedes  <br>
              Make: G Class<br>
              UserName: laugh_drive
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="featured-article" ng-click="goToShowroom()">
        <a href="#">
          <img ui-sref = 'showroom' src="https://i.ytimg.com/vi/uQ-QcKjuhUk/maxresdefault.jpg" alt="" class="thumb img-rounded" >
        </a>
        <div class="block-title">
          <div class="block-title">
            <p class='text-center by-author'><small>
              Model: Maserati  <br>
              Make: Grand Turismo <br>
              UserName: laugh_drive
            </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>