<div class= 'container'>
	<h1 style="padding-top:100px">Welcome, {{user.config.data.email}}</h1>
	<div class="userPic">
		<img src="http://placehold.it/350x350">
	</div>
	<div class="col-xs-12" style="height:50px;"></div>
	<div class="container table-responsive">
		<h2 class='text-center'>Personal For Sale Items</h2>
		<a class='btn pull-right' href="#/additem ">Add Item</a>          
		<table class="table">
			<thead>
				<tr>
					<th>Description</th>
					<th>Model</th>
					<th>Make</th>
					<th>Year</th>
					<th>Zip</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items track by $index">
					<td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.description}}</td>
					<td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.model}}</td>
					<td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.make}}</td>
					<td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.year}}</td>
					<td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.zip}}</td>
					<td ui-sref="forsaleitemdetail({itemId:item._id})">{{item.price | currency}}</td>

					<td><button class="btn btn-sm" ng-click="remove(item)">
						<span class="glyphicon glyphicon-trash"></span>
					</button></td>
					<td><button class="btn btn-sm" ng-click="edit(item, 'editForm')">
						<span class="glyphicon glyphicon-edit"></span>
					</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<form ng-show="isEditing" ng-submit="editConfirm()" id="editForm">
		<div class = 'col-md-7 col-xs-12'>
			<h1>Edit Item </h1>
			<div class="form-group">
				<label for="Make">Make</label>
				<input ng-model="editItem.make" placeholder="Porsche" class="form-control" type="text">         
			</div>
			<div class="form-group">
				<label>Model</label>
				<input  ng-model="editItem.model"  placeholder="911" class="form-control" type="text">
			</div>
			<div class="form-group">
				<label>Year</label>
				<input ng-model="editItem.year" placeholder="2014" class="form-control">
			</div>
			<div class="form-group">
				<label>Description</label>
				<input ng-model="editItem.description"  placeholder=" Red GT3 Spoiler" class="form-control">
			</div>
			<div class="form-group">
				<label>Zip</label>
				<input ng-model="editItem.zip"  placeholder="" class="form-control">
			</div>
			<div class="form-group">
				<label>Price</label>
				<input ng-model="editItem.price"  placeholder="" class="form-control">
			</div>
			<div class="form-group">
				<label >Category</label>
				<select class="form-control" id="sel1" ng-model="editItem.category">
					<option name="Body" value="Body">Body</option>
					<option name="Lighting" value="Lighting">Lighting</option>
					<option name="Suspension" value="Suspension">Suspension</option>
					<option name="Tires" value="Tires">Tires</option>
					<option name="Wheels" value="Wheels">Wheels</option>
				</select>
			</div>
			<button class="btn btn-success btn-sm" type="submit" >Confirm Edit</button>
		</div>
	</form>
	
	<div class="col-xs-12" style="height:50px;"></div>
	<div class="container table-responsive">
		<h2 class='text-center'>Personal Car Features</h2>
		<a class='btn pull-right' href="#/featuresadd">Add Car Feature</a>          
		<table class="table">
			<thead>
				<tr>
					<th>Model</th>
					<th>Make</th>
					<th>Year</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="autofeature in autofeatures track by $index">
					<td ui-sref="forsaleitemdetail({autofeatureId:autofeature._id})">{{autofeature.model}}</td>
					<td ui-sref="forsaleitemdetail({autofeatureId:autofeature._id})">{{autofeature.make}}</td>
					<td ui-sref="forsaleitemdetail({autofeatureId:autofeature._id})">{{autofeature.year}}</td>
					<td ui-sref="forsaleitemdetail({autofeatureId:autofeature._id})">{{autofeature.description}}</td>
					<td><button class="btn btn-sm" ng-click="removeAutofeature(autofeature)">
						<span class="glyphicon glyphicon-trash"></span>
					</button></td>
					<td><button class="btn btn-sm" ng-click="editAutofeature(autofeature, 'autofeatureEditForm')">
						<span class="glyphicon glyphicon-edit"></span>
					</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<form ng-show="autofeatureIsEditing" ng-submit="autofeatureEditConfirm()" id="autofeatureEditForm">
		<div class = 'col-md-7 col-xs-12'>
			<h1>Edit Auto Feature </h1>
			<div class="form-group">
				<label for="Make">Make</label>
				<input ng-model="autofeatureEditItem.make" placeholder="Porsche" class="form-control" type="text">         
			</div>
			<div class="form-group">
				<label for="password">Model</label>
				<input  ng-model="autofeatureEditItem.model"  placeholder="911" class="form-control" type="text">
			</div>
			<div class="form-group">
				<label for="Make">Year</label>
				<input ng-model="autofeatureEditItem.year" placeholder="2014" class="form-control">
			</div>
			<div class="form-group">
				<label for="Make">Description</label>
				<input ng-model="autofeatureEditItem.description"  placeholder=" Red GT3 Spoiler" class="form-control">
			</div>
			<div class="form-group">
				<label >Category</label>
				<select class="form-control" id="sell" ng-model="autofeatureEditItem.category">
					<option name="Body" value="Body">Body</option>
					<option name="Lighting" value="Lighting">Lighting</option>
					<option name="Suspension" value="Suspension">Suspension</option>
					<option name="Tires" value="Tires">Tires</option>
					<option name="Wheels" value="Wheels">Wheels</option>
				</select>
			</div>
			<button class="btn btn-success btn-sm" type="submit" >Confirm Edit</button>
		</div>
	</form>

</div>
