<div class='container rollIn'>
	<h1>Register</h1>
	  <form>
	    <div class="form-group rollIn">
	      <label for="email">Email address</label>
	      <input id="email" type="email" placeholder="Email" class="form-control" ng-model="regEmail">
	    </div>
	    <div class="form-group">
	      <label for="password">Password</label>
	      <input id="password" type="password" placeholder="Password" class="password form-control" ng-model="regPass">
	    </div>
	    <div class="form-group">
	      <label for="password2">Password (again)</label>
	      <input id="password2" type="password" placeholder="Password" class="password form-control" ng-model="regPass2">
	    </div>
	    <div class="form-group">
	      <label for="user">UserName</label>
	      <input id="user" type="text" placeholder="Username" class="form-control" ng-model="regUsername">
	    </div> 
	    <button type="submit" class="btn btn-default"  ng-click="regClick()">Register</button>
	  </form>
</div>