<div class="container-fluid" id="test">
	<img src="../images/003.jpg" alt="">
</div>

<div class="container-fluid ">
	<div class="row text-center">
		<h4 class='text-center' id='#homeFeatures'>Car Features</h4>
		<h5 class='text-center'>SHOWCASING SOME OF THE FINEST CARS AROUND THE WORLD.</h5>
		<div>
			<ul class="list-inline">
				<li><a class="btn pull-left" ng-click="toggleArray()">{{showButton}}</a></li>
				<li><a class='btn pull-right' href="#/featuresadd">Add Feature</a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-4" ng-repeat="car in showroomArray">
			<div class="card">
				<div class="card-header card-image waves-effect waves-block waves-light" ng-click="displayModal(car)"data-toggle="modal" data-target="#myModal">
					<img src={{car.imgSrc}} class="img-rounded activator" alt="Cinque Terre" width="350" height="280">
				</div>
				<div class="card-content text-center">
					<p ng-repeat="detail in car.paragraph">
						{{detail}}
						<br>
					</p>
				</div>
			</div>
		</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-body">
      	<img src={{displayCar.imgSrc}} class="img-rounded activator" alt="Cinque Terre" width="500" height="400">
      </div>

      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>
