<div class="container-fluid" id="test">
	<img src="../images/003.jpg" alt="">
</div>

<div class="container-fluid ">
	<div class="row text-center">
		<h4 class='text-center' id='#homeFeatures'>Car Showroom</h4>
		<h5 class='text-center'>SHOWCASING SOME OF THE FINEST CARS AROUND THE WORLD.</h5>
		<div>
			<ul class="list-inline">
				<li><a class="btn pull-left" ng-click="toggleArray()">{{showButton}}</a></li>
				<li><a class='btn pull-right' href="#/featuresadd">Add to Showroom</a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-4" ng-repeat="car in showroomArray">
			<div class="card">
				<div class="card-header card-image waves-effect waves-block waves-light"  >
					<img ng-click="displayModal(car)" data-toggle="modal" data-target="#myModal" src={{car.imgSrc}} class="img-rounded activator" alt="Cinque Terre" width="350" height="280">
				</div>
				<div class="card-content text-center">
					<p ui-sref="autofeaturedetail({autofeatureId:car._id})" ng-repeat="detail in car.paragraph">
						{{detail}}
						<br>
					</p>
				</div>
			</div>
		</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-body">
      	<img src={{displayCar.imgSrc}} class="img-rounded activator" alt="Cinque Terre" width="80%" height="80%">
      </div>
      <div class="text-center">
      	<h6>{{displayCar.paragraph.model}}</h6>
      	<h6>{{displayCar.paragraph.make}}</h6>
      	<h6>{{displayCar.paragraph.user}}</h6>
      </div>
			
      <button type="button" class="btn btn-default waves-effect waves-green" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>
