<div class="container-fluid" id="test">
	<img src="../images/003.jpg" alt="">
</div>

<div class="container-fluid">
	<div class="row text-center">
		<h4 class='text-center' id='#homeFeatures'>Car Features</h4>
		<h5>SHOWCASING SOME OF THE FINEST CARS AROUND THE WORLD.</h5>
		<div >
			<ul class="list-inline text-right"><a class='btn' href="#/featuresadd">Add Feature</a></li>
			</ul>
		</div>
		
		<div class="col-xs-12 col-sm-4" ng-repeat="car in showroomCars">
			<div class="card">
				<div class="card-header card-image waves-effect waves-block waves-light">
					<img src="{{car.imgSrc}}" class="img-rounded activator" alt="Cinque Terre" width="350" height="280">
				</div>
				<div class="card-content">
					
					<p ng-repeat="detail in car.paragraph">
						{{detail}}
						<br>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>
