body {
  background-color: white;
   font-family: 'Source Serif Pro', serif;


}
.form-control{
    width: 40%;
}

.navbar{
	margin-bottom: 0px;
}

.splash {
	background: url('../images/logo.jpg') no-repeat bottom center;
	background-size: contain;
	height: 500px;
	width: 100vw;
}
.junkyard {
	background: url('../images/junkyard.jpg') no-repeat bottom center;
	background-size: cover;
	height: 500px;
	width: 100vw;
}
.thumbnail img{
   height: 40vh;

} 

.saletag {
  color: blue;
}

.saletag:hover {
  color: green; 
  cursor: pointer;
}
img {
	transition: all .5s;
}
img:hover  {
    -webkit-filter: brightness(60%);
   filter: brightness(90%);
  
}
.navbar{
		font-size: 15px;
}
.navbar-brand{
	font-size: 30px;

}

td {
  color: black;
}

td:hover{
  cursor: pointer; 
  color: blue; 
}

#logout:hover{
  cursor: pointer; 
}